<div class="property-main-photo">
  <%= link_to (property_photo_url(@property)) %>
  <div class="photo-overlay">
  </div>
</div>

<div class="container mt-3">
  <div class="row justify-content-between p-2">
    <div class="col-8 d-flex justify-content-between">
      <div>
        <p class="m0"><%= @property.address%></p>
        <p class="h2">
          <% if @property.for_sale? %>
            <%= @property.price > 0 ? number_to_currency(@property.price, precision: 2) :"For Sales" %>
          <% else %>
            <%= @property.price > 0 ? number_to_currency(@property.price, precision: 1) :"For Rentals" %> / month
          <% end %>
        </p>
      </div>
      <div class="row mr-3 bg-light p-2">
          <div class="col-4">
          <p class="m0"><strong>rooms</strong></p>
            <span class="lead"><%= @property.rooms%></span>
          </div>
          <div class="col-4">
            <p class="m0"><strong>bathrooms</strong></p>
            <span class="lead"><%= @property.bathrooms%></span>
          </div>
          <div class="col-4">
            <p class="m0"><strong>parking</strong></p>
            <span class="lead"><%= @property.parking_spaces%></span>
          </div>

       </div>
    </div>
    
  </div>
  <div class="row border-top border-bottom mt-5 mb-5 pt-4 pb-4">
    <div class="col-6">
      <% if @property.for_sale? %>
        <strong><%= link_to "Est. Monthly Repayments of #{number_to_currency((@property.price - (@property.price * 0.1) / 360), precision: 0) } *", "#", class:"text-success" %></strong>
      <% else %>
        <strong>Available from : <%= @property.available_date.strftime("%a") %></strong>
      <% end %>
    </div>
    <div class="col-6 text-right">
      <strong><%= link_to "Can I Afford This Property", "#", class:"text-success" %></strong>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <strong><p><%= property.name %></p></strong>
      <p class="h5">Property Description</p>
      <div id="prop-details">
        <%= simple_format @property.details%>
      </div>
      <button class="btn btn-outline-info mt-3" id="toggle-details">Read More</button>
      <p class="mt-5">
        * This rate is base on a 30 year Mortgage, After paying an intial 10% down payment. Shorter term mortageswould require a higher monthly Repayments 
      </p>
    </div>
    <div class="col-sm-4">
    <div class="4 border p-5 text-center">
    <%= render "properties/agent_details" %>
  </div>
    </div>
    <section id="latest-properties" class="mb-5">
    <div class="container">
      <h4>Other properties By This Agent</h4>
      <div class="row">
        <%= render "properties/list", properties: @agent_properties %>
      </div>
    </div>
  </section>
</div>


    
